apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: block-storage
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: "oci-bv"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: alps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: alps
  template:
    metadata:
      labels:
        app: alps
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: oke.oraclecloud.com/pool.name
                operator: In
                values:
                - "${ pool_name }"
      containers:
      - name: alps
        image: alpine:latest
        command: [ "sleep", "2h" ]
        resources:
          limits:
            cpu: 1
            memory: 1Gi
        volumeMounts:
        - mountPath: /data
          name: storage
      volumes:
      - name: storage
        persistentVolumeClaim:
          claimName: block-storage
